<!--The content below is only a placeholder and can be replaced.-->
<div class="titulo">
  <h1>Calculadora en Angular</h1>
</div>
<div class="operaciones">
  <div class="numero">
    <input type="number" class="campo" [(ngModel)]="numero1">
  </div>
  <select class="operador" [(ngModel)]="operador">
    <option>+</option>
    <option>-</option>
    <option>*</option>
    <option>/</option>
    <option>%</option>
  </select>
  <div class="numero">
    <input type="number" class="campo" [(ngModel)]="numero2">
  </div>
</div>
<div class="resultados">
  <h2>El resultado es</h2>
  {{calcular()}}<br>
  <button class="borrar" (click)="borrar()"> Limpiar</button>
</div>